<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main class="centered">
            <h1 class="title"><%= product.title %></h1>
            <div>
                <img src="<%= product.imageUrl%>" alt="<%= product.title %>" width="400px">
            </div>
            <p><%= product.description %></p>
            <h2>Price: $<%= product.price %></h2>
            <%- include('../includes/add-to-cart.ejs', {product: product}) %>
        </main>
        <%- include('../includes/end.ejs') %>